<div class="cointer">
  <p-toast></p-toast>
  <p-confirmDialog header="提示" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
  <section class="menu-tree" [ngClass]="{'smile':smileStatus}">
    <div class="menu-tree-box">
      <div class="toolbar">
        <ul class="menu-nail">
          <div class="icon-right-div" (click)="smilClick()">
            <i *ngIf="!smileStatus" class="my-icon icon-to-right"></i>
            <i *ngIf="smileStatus" class="my-icon icon-to-left"></i>
          </div>
        </ul>
      </div>
      <div class="content">
        <ul>
          <li class="menu-item-area" [ngClass]="{'active':seleventIndex===1}" (click)="selNoteList(1)">
            <i class="my-icon icon-msz icon-write-fat"></i>
            <div class="dcp-pop pop-float">
              <p>近期笔记</p>
            </div>
          </li>
          <li class="menu-item-area">
            <i class="my-icon icon-msz icon-search"></i>
            <div class="dcp-pop pop-float">
              <input (keydown.enter)="selNoteList(-1)" [(ngModel)]="keyword" type="text" placeholder="搜索范围 个人笔记">
            </div>
          </li>
          <li class="menu-item-area">
            <i class="my-icon icon-msz icon-share-fat"></i>
            <div class="dcp-pop pop-float">
              <p>我的分享</p>
            </div>
          </li>
          <li class="menu-item-area" [ngClass]="{'active':seleventIndex===4}" (click)="selNoteList(4)">
            <i class="iconfont icon-huishouzhan"></i>
            <div class="dcp-pop pop-float">
              <p>回收站</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="pseronal-tree">
    <div class="psersion-tree-box">
      <div class="toolbar header-toolbar">
        <div class="psersion-title">近期笔记</div>
        <div class="persion-right">
          <div class="icon-group">
            <div (click)="showSortInfo()">
              <i class="my-icon icon-msz icon-sort-modify"></i>
              <i class="my-icon" [ngClass]="{'icon-angle-up':this.sortInfo.shown,'icon-angle-down':!this.sortInfo.shown}"></i>
            </div>
            <div class="cirle-info sort-cirle-info" [ngClass]="{'shown':sortInfo.shown}">
              <div class="sort-item" [ngClass]="{'active':item.active}" (click)="inSort(item)" *ngFor="let item of sortInfo.list;index as index;">
                <i class="my-icon icon-msz icon-sort-modify"></i>
                <div class="sort-content">{{item.name}}</div>
                <i class="color-icon" [ngClass]="{'color-icon-up':item.status ==='asc','color-icon-down':item.status ==='desc'}"></i>
              </div>
            </div>
          </div>
          <button class="new-btn" (click)="createNewNote()">
            + 新建笔记
          </button>
        </div>
      </div>
      <div class="content">
        <p *ngIf="noteList.length===0" class="tip-empty">还没有创建任何笔记哦</p>
        <ul>
          <li (click)="selNoteItem(item,index)" class="note-list-item" [ngClass]="{'focus':selNoteInfo.index==index}" *ngFor="let item of noteList;index as index;">
            <div class="doclist-noteinfo">
              <h4 class="title">
                <i class="my-icon icon-doc"></i>
                {{item.title}}
              </h4>
            </div>
            <div class="abstract">
              <p class="abstract_text multiLine-text" [innerHTML]="item.preview_content">
              </p>
            </div>
            <div class="time-info">
              <span class="time">{{item.create_time | dateFormat:'YYYY-MM-DD HH:mm'}}</span>
              <!-- <span class="owner">602165057@qq.com</span> -->
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="main-section">
    <div class="toolbar header-toolbar clear">
      <button class="edit-btn" (click)="editBtnClick(1)" *ngIf="!editStatus">
        编辑
      </button>
      <button class="save-edit-btn" (click)="editBtnClick(2)" *ngIf="editStatus">
        保存并阅读
      </button>
      <div class="docTools">
        <ul>
          <li class="tool-item">
            <i class="my-icon icon-share" title="分享"></i>
          </li>
          <li class="tool-item">
            <i class="my-icon icon-fulls" (click)="sharNewWindows()" title="在新窗口打开"></i>
          </li>
          <li class="tool-item">
            <i class="my-icon icon-info-circle" title="笔记信息" (click)="showInfo()"></i>
            <div class="cirle-info" [ngClass]="{'active':infoStatus}">
              <ul>
                <li>
                  <span>作者</span>
                  <div class="cirle-content">{{primitiveNoteInfo.nike_name}}</div>
                </li>
                <li>
                  <span>创建日期</span>
                  <div class="cirle-content">{{primitiveNoteInfo.create_time | dateFormat:'YYYY-MM-DD HH:mm'}}</div>
                </li>
                <li>
                  <span>修改日期</span>
                  <div class="cirle-content">{{primitiveNoteInfo.modify_time| dateFormat:'YYYY-MM-DD HH:mm'}}</div>
                </li>
              </ul>
            </div>
          </li>
          <!-- <li>
            <i class="my-icon icon-clock" title="历史版本"></i>
          </li> -->
          <li class="tool-item">
            <i class="my-icon icon-trash" (click)="logicDelete()" title="删除"></i>
          </li>
          <li class="tool-item" *ngIf="seleventIndex===4">
            <i class="my-icon icon-revent" (click)="recovery()" title="恢复"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-box" *ngIf="noteList.length!==0">
      <div class="notetitle-ctn">
        <h2 *ngIf="!editStatus">
          <span>{{primitiveNoteInfo.title}}</span>
        </h2>
        <input class="title-input" *ngIf="editStatus" type="text" [(ngModel)]="primitiveNoteInfo.title">
        <div class="icongroup">
          <div class="icon-item">
            <i class="iconfont icon-zan"></i>
            <span class="cmt-count">(0)</span>
          </div>
          <div class="icon-item">
            <i class="iconfont icon-homeiconcomment"></i>
            <span class="cmt-count">(0)</span>
          </div>
        </div>
      </div>
      <div class="noteaddon-ctn">
        <div class="noteaddon-item" *ngIf="editStatus">
          <span class="item-title">位置 :</span>
          <div class="item-contetn">
            <div class="item-menu">/我的笔记/</div>
          </div>
        </div>
        <div class="noteaddon-item" *ngIf="editStatus">
          <span class="item-title title-tag">标签 :</span>
          <div class="item-contetn item-tag">
            <div class="">
              <tag-input [(ngModel)]='primitiveNoteInfo.tag' [maxItems]='10' [modelAsStrings]='true'></tag-input>
            </div>
          </div>
        </div>
        <div class="noteaddon-item">
          <span class="item-title">附件 :</span>
          <div class="item-contetn active">
            <i class="my-icon icon-add-circle"></i>
            <div class="fj-dv">还没有附件哦</div>
          </div>
        </div>
      </div>
      <div class="wiz-document-toolbar" *ngIf="editStatus">
        <!-- 编辑器部分 -->
        <!-- <ngx-neditor [(ngModel)]="primitiveNoteInfo.content" #neditor [config]="ueConfig"></ngx-neditor> -->
        <quill-editor class="quill-editor" [(ngModel)]="primitiveNoteInfo.content"></quill-editor>
      </div>
      <div class="notecontent-layer ql-container ql-snow" id="content" *ngIf="!editStatus">
        <div class="ql-editor word-wrap" [innerHTML]="primitiveNoteInfo.content | htmlPipe"></div>
      </div>
    </div>
    <div class="main-box" *ngIf="noteList.length===0">
      <img class="note_gray" src="../../../assets/images/note_gray.png" alt="">
      <span class="note_gray_text">还没有创建任何笔记哦</span>
    </div>
  </section>
</div>