<header>
  <img src="../../../assets/images/logo.png" alt="">
</header>
<div class="login-cointer">
  <div class="swapper">
    <h2 class="login-tip">{{formStatus===1?'登录账号':'注册账号'}}</h2>
    <div class="loginarea">
      <div class="form-control">
        <div class="col">
          <input type="text" autocomplete="off" [(ngModel)]="formModel.email" placeholder="用户名" (keyup)="formKeyUp($event)">
        </div>
      </div>
      <div class="form-control">
        <div class="col">
          <input type="password" autocomplete="off" [(ngModel)]="formModel.password" placeholder="密码" (keyup)="formKeyUp($event)">
        </div>
      </div>
      <div class="form-control">
        <div class="col">
          <span class="error" *ngIf="errMessage">{{errMessage}}</span>
          <button class="btn" [ngClass]="{'disabled':loginDisabled}" (click)="submit()">{{formStatus===1?'登录':'注册'}}</button>
        </div>
      </div>
    </div>
    <div class="form-control sub-tools">
      <!-- <input type="checkbox" id="remember-me">
      <label for="remember-me">两周内自动登录</label> -->
      <a>忘记密码？</a>
    </div>
    <div class="split-title">
      <hr>
      <span class="openid-text">或使用以下方式直接登录</span>
    </div>
    <div class="third-icon">
      <i class="iconfont icon-weixin" title="微信登录"></i>
      <i class="iconfont icon-qq-copy" title="qq登录"></i>
      <i class="iconfont icon-github" title="github登录"></i>
    </div>
    <div class="other-etic">
      <span *ngIf="formStatus===1">
        <label>还没有为知笔记帐号？</label>
        <a (click)="checkStatus(2)">去创建</a>
      </span>
      <span *ngIf="formStatus===2">
        <label>已有账号？</label>
        <a (click)="checkStatus(1)">立即登录</a>
      </span>
    </div>
  </div>
</div>