header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 400;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #448aff;
  border-bottom: 2px solid #2a64ca;
  opacity: 1;
  img{
    height: 27px;
    vertical-align: middle;
  }
}
.login-cointer{
  padding-top: 61px;
  height: 100%;
  background: #fff;
}
.swapper{
  width: 310px;
  text-align: center;
  margin: 0 auto;
  padding: 0 1rem;
}
h2{
  font-size: 24px;
  font-weight: 400;
}
.login-tip{
  color: #448aff;
  margin: .75em;
  padding: 0;
  text-align: center;
}
.loginarea{
  padding-top: 1.5em;
  .form-control{
    margin: 2em 0;
    margin-bottom: 1.5em;
    &:last-of-type{
      margin-bottom: 0;
    }
    .col{
      position: relative;
      .error{
        position: absolute;
        top: -22px;
        color: rgba(255, 0, 0, 0.81);
      }
    }
  }
  input{
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: normal;
    padding: 0 .5em;
  }
  .btn{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 1em;
    margin-bottom: 1em;
    line-height: 2.2;
    color: #fff;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #2a64ca;
    background-color: #448aff;
    &.disabled{
      color: #666;
      border-color: #ccc;
      cursor: default;
      background-color: #ddd !important;
    }
    &:hover{
      background-color: #3777e4;
    }
  }
}
.sub-tools{
  text-align: left;
  input{
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
  }
  label{
    vertical-align: middle;
    display: inline;
    cursor: pointer;
  }
  a{
    cursor: pointer;
    vertical-align: middle;
    float: right;
    color: #448aff;
  }
  &:after{
    clear: both;
    content: '';
    display: table;
  }
}
.split-title{
  margin-top: 4em;
  position: relative;
  margin-bottom: 3em;
  text-align: center;
  hr{
    position: absolute;
    top: 9px;
    width: 100%;
    height: 1px;
    z-index: 0;
    border: 0;
    background-color: #e9e9e9;
  }
  .openid-text{
    position: relative;
    background-color: #fff;
    color: #ccc;
    display: inline-block;
    margin: 0;
    padding: 0 1em;
  }
}
.third-icon{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .iconfont{
    font-size: 36px;
    cursor: pointer;
  }
  .icon-weixin{
    color: #56D648;
  }
  .icon-qq-copy{
    color:#60B9E1;
  }
  .icon-github{
    // color:#fff;
  }
}
.other-etic{
  text-align: center;
  padding: 40px 0 10px 0;
  label{
    display: inline;
    vertical-align: middle;
  }
  a{
    display: inline;
    cursor: pointer;
    vertical-align: middle;
    color: #448aff;
  }
}