<header>
  <img src="../../../assets/images/logo.png" alt="">
</header>
<div class="login-cointer">
  <div class="swapper">
    <h2 class="login-tip">登录帐号</h2>
    <div class="loginarea">
      <div class="form-control">
        <div class="col">
          <input type="text">
        </div>
      </div>
      <div class="form-control">
        <div class="col">
          <input type="text">
        </div>
      </div>
      <div class="form-control">
        <div class="col">
          <button class="btn" disabled>登录</button>
        </div>
      </div>
    </div>
  </div>
</div>