<header class="header-cointer">
  <div class="menu-tag">
    <ul>
      <li class="item1"></li>
      <li class="item2"></li>
      <li class="item3"></li>
    </ul>
  </div>
  <div class="menu-info">
    <h3>个人笔记</h3>
    <i class="iconfont icon-jiantou_down"></i>
  </div>
  <div class="user-info">
    <div class="user-info-cointer">
      <div class="user-msg" (click)="infoClick()">
        <i class="iconfont icon-xiaoxi"></i>
        <span class="info">消息</span>
      </div>
      <div class="flat-tight-scrollbar" *ngIf="infoStatusObject.showStatus">
        <ul class="msg-list-tools">
          <li class="msg-type-btn-ctn" (click)="newsClick(1)">
            <a class="msg-btn" [ngClass]="{'active':infoStatusObject.index===1}">近期消息</a>
          </li>
          <li class="msg-type-btn-ctn" (click)="newsClick(2)">
            <a class="msg-btn" [ngClass]="{'active':infoStatusObject.index===2}">未读消息</a>
          </li>
        </ul>
        <ul class="msg-list" *ngIf="newsInfoList.length>0">
          <li class="msg-list-item">
            <div class="sender">
              <img src="https://note.wiz.cn/web/layout/img/common/system_msg.67a6c553.png" alt="">
            </div>
            <div class="msg-detail">
              <p class="info">
                <span>帮助手册和反馈渠道 | Manual And Feedback</span>
              </p>
              <p class="time">
                <span>2018-04-19 08:53</span>
              </p>
            </div>
          </li>
        </ul>
        <ul class="no-message" *ngIf="newsInfoList.length===0">
          <div>
            <img src="https://note.wiz.cn/web/layout/img/common/smile_gray.dbf7e909.png" alt="">
            <span data-lang="docMsg.label.unReadIsEmpty">消息全都读完啦！</span>
          </div>
        </ul>
      </div>
    </div>
    <div class="user-icon-cointer">
      <div class="user-icon" (click)="userClick()">
        <img src="{{userInfo.portrait}}" alt="">
      </div>
      <div class="pop-user-setting" *ngIf="userStatus">
        <ul>
          <li class="user-name-menu">
            <span>{{userInfo.nike_name}}</span>
            <div class="wiz-pay">购买 VIP</div>
          </li>
          <li class="item-content" (click)="loginOut()">
            <i class="iconfont icon-zhuxiao"></i>
            <span>注销</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>